In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
import numpy as np

<h1>Standardization</h1>

In [5]:
mean = np.mean(df['total_bill'])
std = np.std(df['total_bill'])
standardized_data = []
for i in list(df['total_bill']):
    zscore = i - mean / std
    standardized_data.append(zscore)

In [8]:
type(mean)

numpy.float64

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler = StandardScaler()

In [11]:
scaler

StandardScaler()

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
type(df['total_bill'])

pandas.core.series.Series

In [16]:
type(df[['total_bill']])

pandas.core.frame.DataFrame

In [18]:
scaler.fit(df[['total_bill']])
scaler.transform(df[['total_bill']])

array([[-3.14711305e-01],
       [-1.06323531e+00],
       [ 1.37779900e-01],
       [ 4.38315103e-01],
       [ 5.40744704e-01],
       [ 6.19536705e-01],
       [-1.23995452e+00],
       [ 7.98507107e-01],
       [-5.34203307e-01],
       [-5.63468908e-01],
       [-1.07111451e+00],
       [ 1.74175992e+00],
       [-4.91430507e-01],
       [-1.52624903e-01],
       [-5.57840908e-01],
       [ 2.01939101e-01],
       [-1.06436091e+00],
       [-3.93503306e-01],
       [-3.16962505e-01],
       [ 9.72582994e-02],
       [-2.10030504e-01],
       [ 5.67366990e-02],
       [-4.52034507e-01],
       [ 2.21000952e+00],
       [ 3.83349840e-03],
       [-2.22412104e-01],
       [-7.22178510e-01],
       [-7.98719310e-01],
       [ 2.15446301e-01],
       [-1.53017018e-02],
       [-1.15215771e+00],
       [-1.61629703e-01],
       [-5.31952107e-01],
       [ 1.01760699e-01],
       [-2.25788904e-01],
       [ 4.81087904e-01],
       [-3.91252106e-01],
       [-3.21464905e-01],
       [-1.23359303e-01],
       [ 1.29264551e+00],
       [-4.21643306e-01],
       [-2.61808105e-01],
       [-6.58019309e-01],
       [-1.13752491e+00],
       [ 1.19471831e+00],
       [-1.68383303e-01],
       [ 2.75103101e-01],
       [ 1.41983831e+00],
       [ 9.86482309e-01],
       [-1.96523304e-01],
       [-8.15603311e-01],
       [-1.06886331e+00],
       [ 1.69110792e+00],
       [-1.10825931e+00],
       [ 6.49927905e-01],
       [-3.33113020e-02],
       [ 2.05129992e+00],
       [ 7.45603907e-01],
       [-9.61931312e-01],
       [ 3.20616553e+00],
       [ 5.67366990e-02],
       [-6.72652109e-01],
       [-9.86694512e-01],
       [-1.68383303e-01],
       [-2.47175304e-01],
       [ 3.30990987e-02],
       [-3.75493706e-01],
       [-1.88154652e+00],
       [ 4.99830989e-02],
       [-5.37580108e-01],
       [-8.74134511e-01],
       [-3.05706505e-01],
       [ 7.96255907e-01],
       [ 6.18411105e-01],
       [-5.69096908e-01],
       [-1.04410011e+00],
       [-2.10030504e-01],
       [ 8.34526308e-01],
       [ 3.34759902e-01],
       [-2.80943305e-01],
       [-3.89393021e-02],
       [-3.51856105e-01],
       [-1.09362651e+00],
       [ 1.45135511e+00],
       [-4.28396906e-01],
       [ 1.69335912e+00],
       [-7.60448910e-01],
       [-1.69508903e-01],
       [ 5.54251904e-01],
       [ 1.54663900e-01],
       [ 1.03375751e+00],
       [ 3.04368702e-01],
       [-1.57988572e+00],
       [-3.90126506e-01],
       [ 3.33634302e-01],
       [ 2.29442952e+00],
       [ 8.43531108e-01],
       [-8.73008911e-01],
       [ 1.37779900e-01],
       [-8.24608111e-01],
       [-9.49549712e-01],
       [-4.95932907e-01],
       [ 2.75930233e+00],
       [ 2.96489502e-01],
       [ 1.27649500e-01],
       [-4.98184107e-01],
       [ 7.92486992e-02],
       [ 6.10531905e-01],
       [-1.74011304e-01],
       [-6.16372108e-01],
       [-6.51265709e-01],
       [-1.41104572e+00],
       [ 2.05805352e+00],
       [ 4.68706304e-01],
       [ 6.66811906e-01],
       [-2.78692105e-01],
       [ 1.14181511e+00],
       [-1.02834171e+00],
       [-8.27984911e-01],
       [ 4.83339104e-01],
       [-9.11279312e-01],
       [-7.16550509e-01],
       [-6.22000108e-01],
       [-4.31773706e-01],
       [-8.22356911e-01],
       [ 1.12718231e+00],
       [-1.26809452e+00],
       [-5.92734508e-01],
       [-9.46172912e-01],
       [ 3.41513502e-01],
       [-7.94609025e-02],
       [ 5.44854990e-02],
       [-9.69810512e-01],
       [-8.47120111e-01],
       [-1.71760104e-01],
       [-1.26922012e+00],
       [-1.06436091e+00],
       [-6.34381709e-01],
       [-4.26145706e-01],
       [-7.45816110e-01],
       [-2.60682504e-01],
       [ 1.63370232e+00],
       [ 2.40924072e+00],
       [ 8.17642307e-01],
       [-3.77744906e-01],
       [-1.28722972e+00],
       [-1.28987303e-01],
       [-8.91018511e-01],
       [-1.12626891e+00],
       [-1.38178012e+00],
       [-6.43386509e-01],
       [-7.49192910e-01],
       [-2.84320105e-01],
       [ 5.36242304e-01],
       [-1.79450166e-03],
       [ 1.13281031e+00],
       [ 3.19490953e+00],
       [ 5.86894305e-01],
       [-7.19927310e-01],
       [-3.70991306e-01],
       [ 1.92934300e-01],
       [-8.02096110e-01],
       [-4.02508106e-01],
       [-6.72652109e-01],
       [-2.56180104e-01],
       [ 5.32865504e-01],
       [ 1.09639900e-01],
       [ 1.34217191e+00],
       [-1.03509531e+00],
       [-1.03059291e+00],
       [ 3.49206794e+00],
       [-4.47532107e-01],
       [-1.41104572e+00],
       [ 1.35793031e+00],
       [-3.33846505e-01],
       [ 1.47611831e+00],
       [-2.13407304e-01],
       [-5.97236908e-01],
       [-1.14652971e+00],
       [ 1.67084712e+00],
       [ 1.67309832e+00],
       [ 3.98919103e-01],
       [ 2.87749033e+00],
       [ 3.80909503e-01],
       [ 2.33720232e+00],
       [ 1.01760699e-01],
       [ 1.25398300e-01],
       [ 1.20147191e+00],
       [-1.84141704e-01],
       [ 3.73030302e-01],
       [-4.61039307e-01],
       [ 2.70789839e-03],
       [ 9.74100709e-01],
       [-4.84676907e-01],
       [-3.60860906e-01],
       [-1.37615212e+00],
       [-1.06323531e+00],
       [ 2.62535593e+00],
       [-7.63825710e-01],
       [-7.06420109e-01],
       [-1.21108103e-01],
       [-7.93091310e-01],
       [-7.63825710e-01],
       [-3.81121706e-01],
       [ 8.37510993e-02],
       [-3.73242506e-01],
       [ 7.65864707e-01],
       [ 2.13234312e+00],
       [ 5.04725504e-01],
       [-7.90840110e-01],
       [ 1.15644791e+00],
       [ 6.87072706e-01],
       [ 3.21291913e+00],
       [-7.33434510e-01],
       [ 9.43709509e-01],
       [-7.75081710e-01],
       [ 9.41458309e-01],
       [-9.22535312e-01],
       [-1.35589132e+00],
       [ 1.16545271e+00],
       [-8.58376111e-01],
       [-7.16550509e-01],
       [-1.26134092e+00],
       [-4.28396906e-01],
       [-7.16550509e-01],
       [-3.95754506e-01],
       [-1.09137531e+00],
       [ 7.47462992e-02],
       [-7.32308910e-01],
       [ 2.62721501e-01],
       [ 4.75459904e-01],
       [-4.61039307e-01],
       [-9.20284112e-01],
       [-1.01483451e+00],
       [-4.79048907e-01],
       [-1.09362651e+00],
       [-8.08849711e-01],
       [ 1.46823911e+00],
       [ 1.80591912e+00],
       [ 1.04051111e+00],
       [ 8.32275107e-01],
       [ 3.24629502e-01],
       [-2.21286504e-01],
       [-1.13228903e-01]])

In [21]:
import pandas as pd

In [25]:
df['total_bill'] = pd.DataFrame(scaler.transform(df[['total_bill']]), columns=['total_bill'])

In [26]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0   -0.314711  1.01  Female     No  Sun  Dinner     2
1   -1.063235  1.66    Male     No  Sun  Dinner     3
2    0.137780  3.50    Male     No  Sun  Dinner     3
3    0.438315  3.31    Male     No  Sun  Dinner     2
4    0.540745  3.61  Female     No  Sun  Dinner     4

In [28]:
scaler.fit(df[['tip']])
df['tip'] = pd.DataFrame(scaler.transform(df[['tip']]))

In [29]:
df.head()

   total_bill       tip     sex smoker  day    time  size
0   -0.314711 -1.439947  Female     No  Sun  Dinner     2
1   -1.063235 -0.969205    Male     No  Sun  Dinner     3
2    0.137780  0.363356    Male     No  Sun  Dinner     3
3    0.438315  0.225754    Male     No  Sun  Dinner     2
4    0.540745  0.443020  Female     No  Sun  Dinner     4

<h1>Normalization</h1>
<h2>Min Max Scaler</h2>

In [31]:
df = sns.load_dataset('taxis')

In [32]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [34]:
normalize = MinMaxScaler()

In [35]:
normalize.fit(df[['distance']])

MinMaxScaler()

In [41]:
df['normalised_distance'] = pd.DataFrame(normalize.transform(df[['distance']]))

In [42]:
df.head()[['distance','normalised_distance','fare','tip']]

   distance  normalised_distance  fare   tip
0      1.60             0.043597   7.0  2.15
1      0.79             0.021526   5.0  0.00
2      1.37             0.037330   7.5  2.36
3      7.70             0.209809  27.0  6.15
4      2.16             0.058856   9.0  1.10

In [43]:
df['normalised_total']=pd.DataFrame(normalize.fit_transform(df[['total']]))

In [45]:
df.head()[['total', 'normalised_total', 'distance', 'normalised_distance','tip']]

   total  normalised_total  distance  normalised_distance   tip
0  12.95          0.067139      1.60             0.043597  2.15
1   9.30          0.046104      0.79             0.021526  0.00
2  14.16          0.074112      1.37             0.037330  2.36
3  36.95          0.205452      7.70             0.209809  6.15
4  13.40          0.069733      2.16             0.058856  1.10