In [188]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [189]:
df = pd.read_excel('DataSets/flight_price.xlsx')

In [190]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [192]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [193]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df["Date_of_Journey"].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [194]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019

In [195]:
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int64
 12  Month            10683 non-null  int64
 13  Year             10683 non-null  int64
dtypes: int64(4), object(10)
memory usage: 1.1+ MB

In [197]:
df.drop('Date_of_Journey', axis = 1, inplace = True)

In [198]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [199]:
df['Arrival_Time'].str.split(' ').str[0]

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [200]:
df['Arrival_Time'] = df['Arrival_Time'].str.split(' ').str[0]

In [201]:
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_Min'] = df['Arrival_Time'].str.split(':').str[1]

In [202]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882,9,6,2019,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019,21,35

In [203]:
df['Arrival_Hour'] = df['Arrival_Hour'].astype(int)
df['Arrival_Min'] = df['Arrival_Min'].astype(int)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int64
 11  Month            10683 non-null  int64
 12  Year             10683 non-null  int64
 13  Arrival_Hour     10683 non-null  int64
 14  Arrival_Min      10683 non-null  int64
dtypes: int64(6), object(9)
memory usage: 1.2+ MB

In [205]:
df.drop(['Arrival_Time'], axis = 1, inplace = True)

In [206]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302,1,3,2019,21,35

In [207]:
df.drop(['Route'], axis = 1, inplace = True)

In [208]:
df.head()

,Airline,Source,Destination,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,09:25,19h,2 stops,No info,13882,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,18:05,5h 25m,1 stop,No info,6218,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,16:50,4h 45m,1 stop,No info,13302,1,3,2019,21,35

In [209]:
df['Dep_Hour'] = df['Dep_Time'].str.split(':').str[0]
df['Dep_Min'] = df['Dep_Time'].str.split(':').str[1]

In [210]:
df.head()

,Airline,Source,Destination,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,09:25,19h,2 stops,No info,13882,9,6,2019,4,25,09,25
3,IndiGo,Kolkata,Banglore,18:05,5h 25m,1 stop,No info,6218,12,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,16:50,4h 45m,1 stop,No info,13302,1,3,2019,21,35,16,50

In [211]:
df['Dep_Hour'] = df['Dep_Hour'].astype(int)
df['Dep_Min'] = df['Dep_Min'].astype(int)

In [212]:
df.drop(['Dep_Time'], axis = 1, inplace = True)

In [213]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,21,35,16,50

In [214]:
df['Duration_Hour'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [215]:
df['Duration_Min'] = df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [216]:
df['Duration_Min'] = df["Duration_Min"].fillna(0)

In [219]:
df['Duration_Min'].isnull().sum()

0

In [226]:
df.head(50)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Duration_Hour,Duration_Min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,21,35,16,50,4,45
5,SpiceJet,Kolkata,Banglore,2h 25m,non-stop,No info,3873,24,6,2019,11,25,9,0,2,25
6,Jet Airways,Banglore,New Delhi,15h 30m,1 stop,In-flight meal not included,11087,12,3,2019,10,25,18,55,15,30
7,Jet Airways,Banglore,New Delhi,21h 5m,1 stop,No info,22270,1,3,2019,5,5,8,0,21,5
8,Jet Airways,Banglore,New Delhi,25h 30m,1 stop,In-flight meal not included,11087,12,3,2019,10,25,8,55,25,30
9,Multiple carriers,Delhi,Cochin,7h 50m,1 stop,No info,8625,27,5,2019,19,15,11,25,7,50
10,Air India,Delhi,Cochin,13h 15m,1 stop,No info,8907,1,6,2019,23,0,9,45,13,15
11,IndiGo,Kolkata,Banglore,2h 35m,non-stop,No info,4174,18,4,2019,22,55,20,20,2,35
12,Air India,Chennai,Kolkata,2h 15m,non-stop,No info,4667,24,6,2019,13,55,11,40,2,15
13,Jet Airways,Kolkata,Banglore,12h 10m,1 stop,In-flight meal not included,9663,9,5,2019,9,20,21,10,12,10
14,IndiGo,Kolkata,Banglore,2h 35m,non-stop,No info,4804,24,4,2019,19,50,17,15,2,35
15,Air India,Delhi,Cochin,26h 35m,2 stops,No info,14011,3,3,2019,19,15,16,40,26,35
16,SpiceJet,Delhi,Cochin,4h 30m,1 stop,No info,5830,15,4,2019,13,15,8,45,4,30
17,Jet Airways,Delhi,Cochin,22h 35m,1 stop,In-flight meal not included,10262,12,6,2019,12,35,14,0,22,35
18,Air India,Delhi,Cochin,23h,2 stops,No info,13381,12,6,2019,19,15,20,15,23,0
19,Jet Airways,Delhi,Cochin,20h 35m,1 stop,In-flight meal not included,12898,27,5,2019,12,35,16,0,20,35
20,GoAir,Delhi,Cochin,5h 10m,1 stop,No info,19495,6,3,2019,19,20,14,10,5,10
21,Air India,Banglore,New Delhi,15h 20m,1 stop,No info,6955,21,3,2019,13,20,22,0,15,20
22,IndiGo,Banglore,Delhi,2h 50m,non-stop,No info,3943,3,4,2019,6,50,4,0,2,50
23,IndiGo,Banglore,Delhi,2h 55m,non-stop,No info,4823,1,5,2019,21,50,18,55,2,55
24,Jet Airways,Kolkata,Banglore,13h 20m,1 stop,In-flight meal not included,7757,6,5,2019,8,15,18,55,13,20
25,Jet Airways,Delhi,Cochin,15h 10m,2 stops,No info,13292,9,6,2019,12,35,21,25,15,10
26,IndiGo,Delhi,Cochin,5h 45m,1 stop,No info,8238,1,6,2019,3,35,21,50,5,45
27,GoAir,Delhi,Cochin,5h 55m,1 stop,No info,7682,15,5,2019,12,55,7,0,5,55
28,Vistara,Banglore,Delhi,2h 50m,non-stop,No info,4668,18,6,2019,12,35,9,45,2,50
29,Vistara,Chennai,Kolkata,2h 15m,non-stop,No info,3687,15,6,2019,9,20,7,5,2,15
30,Vistara,Chennai,Kolkata,2h 15m,non-stop,No info,3687,18,6,2019,9,20,7,5,2,15
31,Air India,Kolkata,Banglore,13h 25m,2 stops,No info,13227,1,5,2019,23,15,9,50,13,25
32,IndiGo,Banglore,Delhi,2h 50m,non-stop,No info,4423,6,4,2019,6,50,4,0,2,50
33,Jet Airways,Delhi,Cochin,22h,2 stops,In-flight meal not included,10919,15,6,2019,12,35,14,35,22,0
34,Jet Airways,Delhi,Cochin,5h 30m,1 stop,In-flight meal not included,12373,18,5,2019,12,35,7,5,5,30
35,IndiGo,Delhi,Cochin,10h 25m,1 stop,No info,5894,27,6,2019,21,0,10,35,10,25
36,SpiceJet,Kolkata,Banglore,5h 15m,1 stop,No info,4649,21,5,2019,20,20,15,5,5,15
37,Air India,Kolkata,Banglore,2h 30m,non-stop,No info,6245,18,5,2019,16,45,14,15,2,30
38,Jet Airways,Banglore,New Delhi,6h 15m,1 stop,No info,19225,6,3,2019,13,15,7,0,6,15
39,Jet Airways,Delhi,Cochin,11h 55m,1 stop,No info,14924,3,6,2019,19,0,7,5,11,55
40,Multiple carriers,Delhi,Cochin,11h 5m,1 stop,No info,9646,21,5,2019,18,10,7,5,11,5
41,Air India,Banglore,New Delhi,8h 30m,1 stop,No info,8714,15,3,2019,15,15,6,45,8,30
42,Jet Airways,Delhi,Cochin,22h 5m,1 stop,In-flight meal not included,12373,18,5,2019,19,0,20,55,22,5
43,Air Asia,Banglore,Delhi,2h 45m,non-stop,No info,3383,6,5,2019,13,55,11,10,2,45
44,Multiple carriers,Delhi,Cochin,12h,1 stop,No info,13062,21,3,2019,21,0,9,0,12,0
45,SpiceJet,Banglore,New Delhi,2h 50m,non-stop,No check-in baggage included,3527,24,3,2019,8,35,5,45,2,50
46,IndiGo,Banglore,Delhi,2h 50m,non-stop,No info,3943,27,5,2019,6,50,4,0,2,50
47,Air India,Chennai,Kolkata,2h 15m,non-stop,No info,4667,3,5,2019,13,55,11,40,2,15
48,Air India,Kolkata,Banglore,16h 5m,1 stop,No info,6117,15,5,2019,11,5,19,0,16,5
49,Jet Airways,Delhi,Cochin,19h 55m,2 stops,In-flight meal not included,11150,27,6,2019,19,0,23,5,19,55

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  object
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   Date             10683 non-null  int64
 8   Month            10683 non-null  int64
 9   Year             10683 non-null  int64
 10  Arrival_Hour     10683 non-null  int64
 11  Arrival_Min      10683 non-null  int64
 12  Dep_Hour         10683 non-null  int64
 13  Dep_Min          10683 non-null  int64
 14  Duration_Hour    10683 non-null  object
 15  Duration_Min     10683 non-null  object
dtypes: int64(8), object(8)
memory usage: 1.3+ MB

In [222]:
df['Duration_Hour'].astype(int)
# df['Duration_Min'] = df['Duration_Min'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'